{% extends "base.html" %}
{% block content %}
<h2>Add Student</h2>
<div class="card" style="max-width:500px;">
<form>
    <input class="form-control mb-2" placeholder="Student ID">
    <input class="form-control mb-2" placeholder="First Name">
    <input class="form-control mb-2" placeholder="Last Name">
    <input class="form-control mb-2" placeholder="Course">
    <input class="form-control mb-2" placeholder="Year">
    <button class="btn btn-primary w-100">Add (Dummy)</button>
</form>
</div>
{% endblock %}
