<!DOCTYPE html>
<html>

<head>
    <title>Select Role</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="centered">

    <div class="role-container">
        <h2>Select Dashboard</h2>

        <div class="role-cards">

            <a class="role-card" href="/go/admin">
                <h3>Admin</h3>
                <p>Manage system & students.</p>
            </a>

            <a class="role-card" href="/go/leader">
                <h3>Course Leader</h3>
                <p>Academic performance & reports.</p>
            </a>

            <a class="role-card" href="/go/wellbeing">
                <h3>Wellbeing Staff</h3>
                <p>Monitor stress & wellbeing.</p>
            </a>

        </div>
    </div>

</body>

</html>
